/*=== column ===*/

.subject {
	display: inline-block;
}

.column-list {
  font-size: 18px;
  font-weight: 900;
  display: block;
  margin-top: 20px;
}

.course-list {
  font-sisze: 16px;
  font-weight: 900;
  display: block;
  margin-top: 16px;
}


/* ===== select bar ===== */
.service-bar {
  width: 100%;
  max-width: 900px;
  margin: 0 0 70px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1px;
}

.service-btn-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3px;
  border-radius: 5px;
  background: #fff;
  border: 3px solid rgb(0,0,0);
  color: #fff;
  text-decoration: none;
  transition: transform 0.05s ease, background 0.05s ease;
  line-height: 1.6;
  background: rgb(201,168,44);
}

.service-btn-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3px;
  border-radius: 5px;
  background: #fff;
  border: 3px solid rgb(0,0,0);
  color: #fff;
  text-decoration: none;
  transition: transform 0.05s ease, background 0.05s ease;
  line-height: 1.6;
  background: rgb(0,0,0);
}

.service-btn-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3px;
  border-radius: 5px;
  background: #fff;
  border: 3px solid rgb(0,0,0);
  color: #fff;
  text-decoration: none;
  transition: transform 0.05s ease, background 0.05s ease;
  line-height: 1.6;
  background: rgb(90,90,90);
}

.service-title {
  font-weight: 900;
  font-size: 16px;
}

.service-sub {
  font-size: 10px;
}

/*===== menu =====*/
.menu a {
  position: relative;
  padding-left: 12px;
  font-size: 17px;
  font-weight: 900;
  color: #000;
  text-decoration: none;
  padding: 8px;
  transition: background 0.05s ease;
}

.menu a:hover {
  background: rgba(0,0,0,0);


.menu a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 4px;
  background: rgb(201,168,44);
  border-radius: 2px;
}





