body {
    color: #222;
    font-family: 'Anton';
    line-height: 1.8;
    background: #fff;
}

body.menu-open {
    overflow: hidden;
}

.gothic {
    font-family: 'Zen Maru Gothic', sans-serif;
}

.gothic-light {
    font-family: 'Zen Maru Gothic', sans-serif;
    font-weight: 500;
}

