.mppfirst img {
    width: 100vw;
    height: 100%;
    object-fit: contain;
    object-position: center top;
    margin-left: -8px;
    margin-top: 10px;
}

.picture img{
	width: 100%;
	height: 100%;
	border-radius: 12px;
	margin-top: 10px;
}

.A-block {
  padding: 20px 0 50px;
  max-width: 800px;
}

.B-block {
  padding: 0 0 50px;
  max-width: 800px;  
}

.title-text-main {
  font-family: 'Zen Maru Gothic';
  font-size: 30px;
  color: #000;
  display: block;
}

.title-text-sub {
  margin-left: 8px;
  font-size: 16px;
  color: #000;
  display: block;
}


hr {
  border: none;
  height: 3px;
  background: rgb(201,168,44);
  margin: 0 0 10px;
}

.b {
  display: block;
  text-align: right;
  margin-right: 20px;
  font-size: 1.2em;
  font-weight: 900;
}

.li-text {
  margin-bottom: 16px;
}

.li-text li{
  list-style-position: inside;
  list-style-type: disc;
}

b {
  font-weight: 900;
  font-size: 18px;
}

p {
  margin:0 15px 0;
}
