.mppfirst img {
    width: 100vw;
    height: 100%;
    object-fit: contain;
    object-position: center top;
    margin-left: -8px;
    margin-top: 10px;
}

.picture img{
	width: 100%;
	height: 100%;
	border-radius: 12px;
	margin-top: 10px;
}

.gothic-light {
  font-family: 'Zen Maru Gothic', sans-serif;
  font-weight: 500;
}

.gothic {
  font-family: 'Zen Maru Gothic', sans-serif;
}

.A-block {
  padding: 20px 0 50px;
  max-width: 800px;
}

.B-block {
  margin-top: 20px;
  padding: 10px 10px 10px 20px;
  max-width: 800px;
  background: rgb(90,90,90);
  border-radius: 16px;
  color: #fff;
}

.B-block-title {
  margin: 10px;
  padding: 0 10px;
  font-size: 20px;
  background: rgb(201,168,44);
  border-radius: 8px;
  display: inline-block;
}

.B-block-title-n {
  display: flex;
  justify-content: center;
  color: rgb(201,168,44);
  font-size: 30px;
}

.title-text-main {
  font-family: 'Zen Maru Gothic';
  font-size: 30px;
  display: block;
  margin-left: 10px;
}

.title-text-sub {
  margin-left: 12px;
  font-size: 16px;
  display: block;
}


hr {
  border: none;
  height: 3px;
  background: rgb(201,168,44);
  margin: 0 0 10px;
}

.b {
  display: block;
  text-align: right;
  margin-right: 20px;
  font-size: 1.2em;
  font-weight: 900;
}

.li-text {
  margin-bottom: 16px;
}

.li-text li{
  list-style-position: inside;
  list-style-type: disc;
}

b {
  font-weight: 900;
  font-size: 18px;
}

p {
  margin:0 15px 0;
}

.subject {
	display: inline-block;
}

.column-list {
  font-size: 18px;
  font-weight: 900;
  display: block;
  margin-top: 20px;
}

.course-list {
  font-sisze: 16px;
  font-weight: 900;
  display: block;
  margin-top: 16px;
}
