body {
	background: #0ff;
}


/* ===== ハンバーガーボタン ===== */
.menu-button {
  display: flex;
  position: fixed;
  right: 10px;
  cursor: pointer;
  z-index: 1100;
  width: 50px;
  height: 50px;
  padding: 10px 10px 6px;
  border-radius: 5px;
  flex-direction: column;
  justify-content: space-between;
  background: #000;
  color: white;
  border: none;
}

.menu-button span {
  height: 3px;
  width: 100%;
  background: #fff;
  border-radius: 2px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.menu-button .menu-label::before {
  content: "Menu";
  display: block;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  margin-top: 2px;
}

.menu-button.open .menu-label::before {
  content: "Close";
}

/* ★ ここが「×」になるアニメーション */
.menu-button.open span:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}
.menu-button.open span:nth-child(2) {
  transform: translateY(-3px) rotate(-45deg);
}
