.slider {
  width: 96%;
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  aspect-ratio: 3 / 2;
  margin: 0 auto;
}

.slider-area {
  position: relative;
  padding: 0;
}
.slider-area::after {
  content: "";
  position: absolute;
  left: -10vw;
  top: 0;
  width: 75vw;
  height: 60%;
  background: #fff/* rgb(201,168,44)*/;
  z-index: -1;
  border-radius: 16px;
} 

.slider-track {
  display: flex;
  transition: transform 800ms ease;
  will-change: transform;
}

.slide {
  min-width: 100%;
}

.slide img {
  width: 100vw;
  height: 100%;
  object-fit: contain;
  object-position: center top;
  margin-left: -8px;
}

