/* == CSS == */ 
body {
  /* 通常フォント */
  font-family: 'Anton';
  line-height: 1.8;
  color: #000;
  background: #ff0;
}

html, body {
  height: 100%;
  -webkit-text-size-adjust: 100%;
}

/* ==== 文字の書体を部分的に変更 === */
.gothic {
  font-family: 'Zen Maru Gothic', sans-serif;
}

.gothic-light {
  font-family: 'Zen Maru Gothic', sans-serif;
  font-weight: 500;
}

html, body {
  height: 100%;
  -webkit-text-size-adjust: 100%;
}

/* ==== 文字の書体を部分的に変更 === */
.gothic {
  font-family: 'Zen Maru Gothic', sans-serif;
}

.gothic-light {
  font-family: 'Zen Maru Gothic', sans-serif;
  font-weight: 500;
}


/* == ヘッダー == */
.header{
  display: flex;
  padding: 3px 10px;
  align-items: center;
}

.header img {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  border: 1px solid;
}

.combi-text{
  display: flex;
  flex-direction: column;
  line-height: 1.3;
  margin: 0 0 0 10px;
  font-weight: 100;
}

.text-main{
  font-size: 20px;
  color: #000;
  display: block;
}

.text-sub{
  margin-left: 8px;
  font-size: 10px;
  color: #000;
  display: block;
}

