/* == CSS == */ 
body {
  /* 通常フォント */
  font-family: 'Anton';
  line-height: 1.8;
  color: #000;
}

html, body {
  height: 100%;
  -webkit-text-size-adjust: 100%;
}

/* ==== 文字の書体を部分的に変更 === */
.gothic {
  font-family: 'Zen Maru Gothic', sans-serif;
}

.gothic-light {
  font-family: 'Zen Maru Gothic', sans-serif;
  font-weight: 500;
}

html, body {
  height: 100%;
  -webkit-text-size-adjust: 100%;
}

/* ==== 文字の書体を部分的に変更 === */
.gothic {
  font-family: 'Zen Maru Gothic', sans-serif;
}

.gothic-light {
  font-family: 'Zen Maru Gothic', sans-serif;
  font-weight: 500;
}


/* == ヘッダー == */
.header{
  display: flex;
  padding: 3px 10px;
  align-items: center;
}

.header img {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  border: 1px solid;
}

.combi-text{
  display: flex;
  flex-direction: column;
  line-height: 1.3;
  margin: 0 0 0 10px;
  font-weight: 100;
}

.text-main{
  font-size: 20px;
  color: #000;
  display: block;
}

.text-sub{
  margin-left: 8px;
  font-size: 10px;
  color: #000;
  display: block;
}




/* ===== コラム ===== */
.A-block {
  padding: 20px 0 50px;
  max-width: 800px;
}

.B-block {
  padding: 0 0 50px;
  max-width: 800px;  
}

.title-text-main {
  font-family: 'Zen Maru Gothic';
  font-size: 30px;
  color: #000;
  display: block;
}

.title-text-sub {
  margin-left: 8px;
  font-size: 16px;
  color: #000;
  display: block;
}


hr {
  border: none;
  height: 3px;
  background: rgb(201,168,44);
  margin: 0 0 10px;
}

.b {
  display: block;
  text-align: right;
  margin-right: 20px;
  font-size: 1.2em;
  font-weight: 900;
}

.li-text {
  margin-bottom: 16px;
}

.li-text li{
  list-style-position: inside;
  list-style-type: disc;
}

b {
  font-weight: 900;
  font-size: 18px;
}

p {
  margin:0 15px 0;
}


/* ===== 問い合わせ ===== */
.contact {
  padding: 20px 20px;
  text-align: center;
  background: #eee;
  font-size: 16px;
}

.contact-button {
  display: inline-block;
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 8px 16px;
  background: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.line-url {
  font-family: 'Zen Maru Gothic', sans-serif;
  display: inline-block;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 6px;
  padding: 2px 12px;
  background: #06C755;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  border: 3px solid #fff;
}

/* ===== フッター ===== */
.footer {
  padding: 16px;
  text-align: center;
  font-size: 14px;
  background: #222;
  color: #fff;
}
