/* == CSS == */ 
body {
  /* 通常フォント */
  font-family: 'Anton';
  line-height: 1.8;
  color: #000;
  background: #fff;
}

html, body {
  height: 100%;
  -webkit-text-size-adjust: 100%;
}

/* ==== 文字の書体を部分的に変更 === */
.gothic {
  font-family: 'Zen Maru Gothic', sans-serif;
}


/* == ヘッダー == */
.header{
  display: flex;
  padding: 3px 10px;
  align-items: center;
}

.header img {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  border: 1px solid;
}

.combi-text{
  display: flex;
  flex-direction: column;
  line-height: 1.3;
  margin: 0px 0px 0px 10px;
  font-weight: 100;
}

.text-main{
  font-size: 20px;
  color: #000;
  display: block;
}

.text-sub{
  margin-left: 8px;
  font-size: 10px;
  color: #000;
  display: block;
}


/* ===== ハンバーガーボタン ===== */
.menu-button {
  display: flex;
  position: fixed;
  right: 10px;
  cursor: pointer;
  z-index: 1100;
  width: 50px;
  height: 50px;
  padding: 10px 10px 6px;
  border-radius: 5px;
  flex-direction: column;
  justify-content: space-between;
  background: #000;
  color: white;
  border: none;
}

.menu-button span {
  height: 3px;
  width: 100%;
  background: #fff;
  border-radius: 2px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.menu-button logo::before {
  content:"Menu";
}


/* ★ ここが「×」になるアニメーション */
.menu-button.open logo::before {
  content: "Close";
}
.menu-button.open span:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}
.menu-button.open span:nth-child(2) {
  transform: translateY(-3px) rotate(-45deg);
}


/* メニュー本体：右半分 */
.menu {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  transform: translateY(-100%);
  transition: transform 0.5s ease;
  z-index: 900;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.9);
	opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 800;
  pointer-events: none;
}
.overlay.open {
  opacity: 1;
  pointer-events: auto;
}


/* 開いたとき：元の位置に戻す */
.menu.open {
  transform: translateY(0);
}

.menu ul {
  list-style: none;
	display: flex;
  margin-left: 0;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.menu li a {
  font-size: 20px;
  font-weight: 1000;
  color: #000;
  text-decoration: none;
}

.menu li a:hover {
  background: rbg(200,200,200);
}

body.menu-open {
  overflow: hidden;
}

.menu-combi-text{
  display: flex;
  flex-direction: column;
  line-height: 1.3;
  margin: 0px 0px 0px 10px;
  font-weight: 100;
}

/* ===== スライダー ===== */
.slider {
  width: 95%;
  height: 80%;
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  aspect-ratio: 16 / 9;
  margin: 0 auto;
}

.slider-area {
  position: relative;
  border-radius: 16px;  
  padding: 20px 0;
}
.slider-area::after {
  content: "";
  position: absolute;
  left: -10vw;
  top: 0;
  width: 90vw;
  height: 60%;
  background: rgb(100,200,255);
  z-index: -1;
  border-radius: 16px;
} 

.slider-track {
  display: flex;
  transition: transform 400ms ease;
  will-change: transform;
}

.slide {
  min-width: 100%;
}

.slide img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

/* ドット */
.dots {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.dot {
  width: 8px;
  height: 8px;
  padding: 0px;
  border-radius: 50%;
  border: none;
  background: rgba(200, 200, 200, 0.5);
  cursor: pointer;
}

.dot.is-active {
  background: rgb(100, 200, 255);
  transform: scale(1.3);
}


/* ===== ファーストビュー ===== */
.A-block {
  padding: 20px 0 50px;
  max-width: 800px;
}

.B-block {
  padding: 20px 0 50px;
  max-width: 800px;  
}

.title-text-main {
  font-family: 'Zen Maru Gothic';
  font-size: 30px;
  color: #000;
  display: block;
}

.title-text-sub {
  margin-left: 8px;
  font-size: 16px;
  color: #000;
  display: block;
}


hr {
  border: none;
  height: 3px;
  background: rgb(100,200,255);
  margin: 0 0 10px;
}

p {
  margin:0 15px 0;
}

.b {
  display: block;
  text-align: right;
  margin-right: 20px;
  font-size: 1.2em;
  font-weight: 1000;
}

li {
  font-weight: 1000;
  font-size: 18px;
}

.li-text {
  margin-bottom: 16px;
}

.li-text li{
  list-style-posotion: inside;
  list-style-type: disc;
}

/* ===== 問い合わせ ===== */
.contact {
  padding: 20px 20px;
  text-align: center;
  background: #eee;
  font-size: 16px;
}

.contact-button {
  display: inline-block;
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 8px 16px;
  background: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.line-url {
  font-family: 'Zen Maru Gothic', sans-serif;
  display: inline-block;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 6px;
  padding: 2px 12px;
  background: #06C755;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  border: 3px solid #fff;
}

/* ===== フッター ===== */
.footer {
  padding: 16px;
  text-align: center;
  font-size: 14px;
  background: #222;
  color: #fff;
}
