/* == CSS == */ 
body {
  /* 通常フォント */
  font-family: 'Anton';
  line-height: 1.8;
  color: #000;
  background: #0ff;
}

html, body {
  height: 100%;
  -webkit-text-size-adjust: 100%;
}

/* ==== 文字の書体を部分的に変更 === */
.gothic {
  font-family: 'Zen Maru Gothic', sans-serif;
}

.gothic-light {
  font-family: 'Zen Maru Gothic', sans-serif;
  font-weight: 500;
}

html, body {
  height: 100%;
  -webkit-text-size-adjust: 100%;
}

/* ==== 文字の書体を部分的に変更 === */
.gothic {
  font-family: 'Zen Maru Gothic', sans-serif;
}

.gothic-light {
  font-family: 'Zen Maru Gothic', sans-serif;
  font-weight: 500;
}


/* == ヘッダー == */
.header{
  display: flex;
  padding: 3px 10px;
  align-items: center;
}

.header img {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  border: 1px solid;
}

.combi-text{
  display: flex;
  flex-direction: column;
  line-height: 1.3;
  margin: 0 0 0 10px;
  font-weight: 100;
}

.text-main{
  font-size: 20px;
  color: #000;
  display: block;
}

.text-sub{
  margin-left: 8px;
  font-size: 10px;
  color: #000;
  display: block;
}


/* ===== ハンバーガーボタン ===== */
.menu-button {
  display: flex;
  position: fixed;
  right: 10px;
  cursor: pointer;
  z-index: 1100;
  width: 50px;
  height: 50px;
  padding: 10px 10px 6px;
  border-radius: 5px;
  flex-direction: column;
  justify-content: space-between;
  background: #000;
  color: white;
  border: none;
}

.menu-button span {
  height: 3px;
  width: 100%;
  background: #fff;
  border-radius: 2px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.menu-button logo::before {
  content:"Menu";
}


/* ★ ここが「×」になるアニメーション */
.menu-button.open logo::before {
  content: "Close";
}
.menu-button.open span:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}
.menu-button.open span:nth-child(2) {
  transform: translateY(-3px) rotate(-45deg);
}

/*===== menu画面 =====*/
.menu {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  transform: translateY(-100%);
  transition: transform 0.5s ease;
  z-index: 900;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.9);
	opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 800;
  pointer-events: none;
}
.overlay.open {
  opacity: 1;
  pointer-events: auto;
}


/* 開いたとき：元の位置に戻す */
.menu.open {
  transform: translateY(0);
}

.menu ul {
  list-style: none;
	display: flex;
  margin-left: 0;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.menu-open {
  overflow: hidden;
}

.menu-combi-text{
  display: flex;
  flex-direction: column;
  line-height: 1.3;
  margin: 10px 10px 20px 50px;
  font-weight: 100;
}



