<section class="contact">
	<p>ご相談はお気軽にお問い合わせください。</p>
	<a href="/contact/" class="contact-button">お問い合わせ</a>
	<p><span class="gothic">TEL: 080-2404-3554</span></p>
	<p><span class="gothic">e-mail: pro-koshi-juku@gmail.com</span></p>
	公式<span class="gothic">LINE: </span><a href="http:/lin.ee/AjSeZ3Z" class="line-url">LINE</a>
</section>


<style>
.contact {
  padding: 20px 20px;
  text-align: center;
  background: #eee;
  font-size: 16px;
  line-height: 1.3;
}

.contact-button {
  display: inline-block;
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 8px 16px;
  background: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.line-url {
  font-family: 'Zen Maru Gothic', sans-serif;
  display: inline-block;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 6px;
  padding: 2px 12px;
  background: #06C755;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  border: 3px solid #fff;
}
</style>