<header class="header">
  <img src="/images/juku-logo.png" alt="logo" />
  <div class="header-combi-text">
    <span class="header-text-sub">家庭教師・個別指導・集団授業</span>
    <span class="header-text-main">プロ講師指導塾</span>
  </div>
</header>

<style>
.header {
  display: flex;
  align-items: center;
  padding: 3px 10px;
}

.header > img {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  border: 1px solid rgb(201,168,44);
}

.header-combi-text{
  display: flex;
  flex-direction: column;
  line-height: 1.3;
  margin: 0 0 0 10px;
  font-weight: 100;
}

.header-text-main{
  font-size: 20px;
  color: #000;
  display: block;
}

.header-text-sub{
  margin-left: 8px;
  font-size: 10px;
  color: #000;
  display: block;
}
</style>