<div calss="selection">
	<a class="select-btn-left" href="/privateteacher">
		<div calss="select-btn-main">家庭教師</div>
		<div class="select-btn-sub">全科目・講座受講可能</div>
	</a>
	<a class="select-btn-center" href="/privateteacher">
		<div calss="select-btn-main">集団授業</div>
		<div class="select-btn-sub">英語・数学をより深く学ぶ</div>
	</a>
	<a class="select-btn-right" href="/privateteacher">
		<span calss="select-btn-main">個別指導</div>
		<div class="select-btn-sub"><span class="selectbar-gothic">1</span> 対 <span class="selectbar-gothic">1</span> で徹底したサポート</div>
	</a>
</div>

<style>
.selection {
	display: flex;
}

.select-btn-left {
  border: 2px solid rgb(10,10,10);
  border-radius: 3px;
  background: rgb(201,168,44);
  text-decoration: none;
		align-items: center;
}

.select-btn-center {
  border: 2px solid rgb(10,10,10);
  border-radius: 3px;
  background: rgb(10,10,10);
  text-decoration: none;
		align-items: center;
}

.select-btn-right {
  border: 2px solid rgb(90,90,90);
  border-radius: 3px;
  background: rgb(90,90,90);
  text-decoration: none;
		align-items: center;
}


.select-btn-main {
  font-size: 16px;
  font-weight: 900;
}

.select-btn-sub {
  font-size: 10px;
}
</style>