<div calss="selection">
	<a class="select-btn-left" href="/privateteacher">
		<span calss="select-btn-text-main">家庭教師</span>
		<span class="select-btn-text-sub">全科目・講座受講可能</span>
	</a>
	<a class="select-btn-center" href="/privateteacher">
		<span calss="select-btn-text-main">集団授業</span>
		<span class="select-btn-text-sub">英語・数学をより深く学ぶ</span>
	</a>
	<a class="select-btn-right" href="/privateteacher">
		<span calss="select-btn-text-main">個別指導</span>
		<span class="select-btn-text-sub"><span class="selectbar-gothic">1</span> 対 <span class="selectbar-gothic">1</span> で徹底したサポート</span>
	</a>
</div>

<style>
.selection {
	display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.select-btn-left {
  border: 2px solid rgb(10,10,10);
  border-radius: 3px;
  background: rgb(201,168,44);
  text-decoration: none;
}

.select-btn-center {
  border: 2px solid rgb(10,10,10);
  border-radius: 3px;
  background: rgb(10,10,10);
  text-decoration: none;
}

.select-btn-right {
  border: 2px solid rgb(90,90,90);
  border-radius: 3px;
  background: rgb(201,168,44);
  text-decoration: none;
}

.select-btn-text-main {
  font-size: 16px;
  font-weight: 900;
}

.select-btn-text-sub {
  font-size: 11px;
}
</style>