---
import "../styles/style.css";
---
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>プロ講師指導塾｜家庭教師・個別指導・集団授業</title>
    <meta
      name="description"
      content="プロ講師による1対1の指導がメインで高校受験・大学受験の合格へのサポトートと学習管理の徹底を行います。"
    />
		<link rel="icon" href="/juku-logo.png" type="image/png" sizes="any">
		<link rel="apple-touch-icon" href="/juku-logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
  </head>


	<body>
    <!-- ヘッダー -->
    <h1 class="header">
      <img src="/images/juku-logo.png" alt="logo">
      <span class="combi-text">
        <span class="text-sub">家庭教師・個別指導・集団授業</span>
        <span class="text-main">プロ講師指導塾</span>
      </span>  
     </h1> 
	</body>
