---
import "../styles/style.css";
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>プロ講師指導塾｜家庭教師・個別指導・集団授業</title>

    <meta
      name="description"
      content="プロ講師による1対1の指導がメインで高校受験・大学受験の合格へのサポトートと学習管理の徹底を行います。"
    />
		<link rel="icon" href="/juku-logo.png" type="image/png" sizes="any">
		<link rel="apple-touch-icon" href="/juku-logo.png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
  </head>

	<body>
    <!-- ヘッダー -->
    <h1 class="header">
      <img src="https://raw.githubusercontent.com/you527h/my-juku-site/main/astro-site/public/images/pic_01.JPG" alt="logo">
      <span class="combi-text">
        <span class="text-sub">家庭教師・個別指導・集団授業</span>
        <span class="text-main">プロ講師指導塾</span>
      </span>
      <button class="menu-button" id="menuButton" aria-label="メニュー">
        <span></span>
        <span></span>
        <logo></logo>
      </button>
      <nav class="menu" id="menu">
        <h1 class="header">
          <img src="https://raw.githubusercontent.com/you527h/my-juku-site/main/astro-site/public/images/pic_01.JPG" alt="logo">
          <span class="combi-text">
            <span class="text-sub">家庭教師・個別指導・集団授業</span>
            <span class="text-main">プロ講師指導塾</span>
          </span>
        </h1>
        <ul>
          <div class="menu-combi-text">
            <li><a href="/privateteacher">家庭教師</a></li>
            <span class="text-sub">全教科サポート可能</span>
          </div>
          <div class="menu-combi-text">
            <li><a href="/officialteacher">個別・集団授業</a></li>
            <span class="text-sub">受講認定テスト必須</span>
          </div>
          <div class="menu-combi-text">
            <li><a href="/course">講座・料金</a></li>
            <span class="text-sub">全教科サポート可能</span>
          </div>
          <div class="menu-combi-text">
            <li><a href="/about">プロ講師指導塾とは</a></li>
            <span class="text-sub">代表からの挨拶</span>
          </div>
          <div class="menu-combi-text">
            <li><a href="/contact">お問い合わせ</a></li>
            <span class="text-sub">電話<span class="gothic">(10:00-22:00), LINE(24</span>時間<span class="gothic">), e-mail</span>で受付中</span>
          </div>
        </ul>
      </nav>
		  <div class="overlay" id="overlay"></div>    
     </h1> 
    
		<!-- スライダー -->
    <section class="slider-area">
		  <section class="slider" aria-label="お知らせスライダー">
  		  <div class="slider-track" id="sliderTrack">
          <!-- 最後のコピー -->
   			  <div class="slide">
            <img src="https://raw.githubusercontent.com/you527h/my-juku-site/main/astro-site/public/images/pic_02.JPG" alt="logo">
          </div>
          <!-- 1枚目 -->
    		  <div class="slide">
            <img src="https://raw.githubusercontent.com/you527h/my-juku-site/main/astro-site/public/images/pic_01.JPG" alt="logo">
          </div>        
          <!-- 2枚目 -->
    		  <div class="slide">
      		  <img src="https://raw.githubusercontent.com/you527h/my-juku-site/main/astro-site/public/images/pic_02.JPG" alt="logo">
          </div>
          <!-- 3枚目 -->
    		  <div class="slide">
            <img src="https://raw.githubusercontent.com/you527h/my-juku-site/main/astro-site/public/images/pic_01.JPG" alt="logo">
          </div>
          <!-- 4枚目 -->
    		  <div class="slide">
      		  <img src="https://raw.githubusercontent.com/you527h/my-juku-site/main/astro-site/public/images/pic_02.JPG" alt="logo">
          </div>        
          <!-- 最初のコピー -->
    		  <div class="slide">
      		  <img src="https://raw.githubusercontent.com/you527h/my-juku-site/main/astro-site/public/images/pic_01.JPG" alt="logo">
          </div>             
        </div>
      </section>
    </section>
  	<div class="dots" id="sliderDots" aria-label="スライド切替">
   		<button class="dot is-active" aria-label="1枚目へ"></button>
  		<button class="dot" aria-label="2枚目へ"></button>
   		<button class="dot" aria-label="3枚目へ"></button>
   		<button class="dot" aria-label="4枚目へ"></button>
    </div>

    <!-- ファーストビュー -->
    <section class="A-block">
      <div class="combi-text">
        <div class="title-text-main">The Professional Effect</div>
        <div class="title-text-sub">結果に直結する指導</div>
      </div>
      <hr>
      <p>
        指導歴 <span class="gothic">5</span> 年以上の経験豊富な講師が一人ひとりの状況に合わせた高品質な指導を行います。短期間でも確かな学力向上を実感し、志望校合格を目指しましょう。
      </p>
    </section>

    <!-- 指導方針 -->
    <section class="A-block">
      <div class="combi-text">
        <div class="title-text-main">Teaching Philosophy</div>
        <div class="title-text-sub">指導方針</div>
      </div>
      <hr>
      <p>
      学習状況の徹底管理を最も重視しています。受講科目については、講師が生徒一人ひとりと相談しながら、毎週 <span class="gothic">2</span> 週間分の学習計画を作成します。その計画に基づき、進捗や理解度を確認し、必要に応じて内容を調整することで、学習の遅れやムラを防ぎます。
      </p>
      <b>学習管理という選択</b>
    </section>


    <!-- 指導対象 -->
    <section class="A-block">
      <div class="combi-text">
        <div class="title-text-main">Target Student</div>
        <div class="title-text-sub">指導対象</div>
      </div>
      <hr>
      <ul>
        <li>高校入試対策の場合 </li>
        <div class="li-text">
          英語・数学の<span class="gothic">A</span>問題・<span class="gothic">B</span>問題・<span class="gothic">C</span>問題のそれぞれに対応しています。
        </div>
        <li>大学入試対策</li>
        <div class="li-text">
          
        </div>
        <li>英検・<span class="gothic">TOEIC</span>対策</li>
      </ul>
    </section>

    <!-- 特徴 -->
    <section class="section">
      <h3 class="section-title">プロ塾の特徴</h3>
      <ul>
        <li>すべての授業をプロ講師が担当</li>
        <li>数学・英語に特化</li>
        <li>駅近の公共施設で受講可能</li>
      </ul>
    </section>

    <!-- 問い合わせ -->
    <section class="contact">
      <p>受講のご相談はお気軽にお問い合わせください。</p>
      <a href="/contact/" class="contact-button">お問い合わせ</a>
    </section>

    <!-- フッター -->
    <footer class="footer">
      <p>© プロ講師指導塾</p>
    </footer>
    <script src="/scripts/main.js" defer></script>
	</body>
</html>