---
import "../styles/style.css";
---

	<body>
    <!-- ヘッダー -->
    <h1 class="header">
      <img src="/images/juku-logo.png" alt="logo">
      <span class="combi-text">
        <span class="text-sub">家庭教師・個別指導・集団授業</span>
        <span class="text-main">プロ講師指導塾</span>
      </span>  
     </h1> 
	</body>
