---
import "../styles/style.css";
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>プロ講師指導塾｜家庭教師・個別指導・集団授業</title>

    <meta
      name="description"
      content="プロ講師による1対1の指導がメインで高校受験・大学受験の合格へのサポトートと学習管理の徹底を行います。"
    />
		<link rel="icon" href="/juku-logo.png" type="image/png" sizes="any">
		<link rel="apple-touch-icon" href="/juku-logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
  </head>

	<body>
    <!-- ヘッダー -->
    <h1 class="header">
      <img src="/images/juku-logo.png" alt="logo">
      <span class="combi-text">
        <span class="text-sub">家庭教師・個別指導・集団授業</span>
        <span class="text-main">プロ講師指導塾</span>
      </span>
      <button class="menu-button" id="menuButton" aria-label="メニュー">
        <span></span>
        <span></span>
        <logo></logo>
      </button>
      <nav class="menu" id="menu">
        <h1 class="header">
          <img src="/images/juku-logo.png" alt="logo">
          <span class="combi-text">
            <span class="text-sub">家庭教師・個別指導・集団授業</span>
            <span class="text-main">プロ講師指導塾</span>
          </span>
        </h1>
          <div class="menu-combi-text">
            <li><a href="/privateteacher">家庭教師</a></li>
            <span class="text-sub">全教科サポート可能</span>
          </div>
          <div class="menu-combi-text">
            <li><a href="/officialteacher">個別・集団授業</a></li>
            <span class="text-sub">受講認定テスト必須</span>
          </div>
          <div class="menu-combi-text">
            <li><a href="/course">講座・料金</a></li>
            <span class="text-sub">全教科サポート可能</span>
          </div>
          <div class="menu-combi-text">
            <li><a href="/about">プロ講師指導塾とは</a></li>
            <span class="text-sub">代表からの挨拶</span>
          </div>
          <div class="menu-combi-text">
            <li><a href="/contact">お問い合わせ</a></li>
            <span class="text-sub">電話<span class="gothic">(10:00-22:00), LINE(24</span>時間<span class="gothic">), e-mail</span>で受付中</span>
          </div>
      </nav>
		  <div class="overlay" id="overlay"></div>    
     </h1> 
    
		<!-- スライダー -->
    <section class="slider-area">
		  <section class="slider" aria-label="お知らせスライダー">
  		  <div class="slider-track" id="sliderTrack">
          <!-- 最後のコピー -->
   			  <div class="slide">
            <img src="/images/pic_02.JPG" alt="logo">
          </div>
          <!-- 1枚目 -->
    		  <div class="slide">
            <img src="/images/pic_01.JPG" alt="logo">
          </div>        
          <!-- 2枚目 -->
    		  <div class="slide">
      		  <img src="/images/pic_02.JPG" alt="logo">
          </div>
          <!-- 3枚目 -->
    		  <div class="slide">
            <img src="/images/pic_01.JPG" alt="logo">
          </div>
          <!-- 4枚目 -->
    		  <div class="slide">
      		  <img src="/images/pic_02.JPG" alt="logo">
          </div>        
          <!-- 最初のコピー -->
    		  <div class="slide">
      		  <img src="/images/pic_01.JPG" alt="logo">
          </div>             
        </div>
      </section>
    </section>
  	<div class="dots" id="sliderDots" aria-label="スライド切替">
   		<button class="dot is-active" aria-label="1枚目へ"></button>
  		<button class="dot" aria-label="2枚目へ"></button>
   		<button class="dot" aria-label="3枚目へ"></button>
   		<button class="dot" aria-label="4枚目へ"></button>
    </div>

    <!-- エリア -->
    <section class="A-block">
      <div class="combi-text">
        <div class="title-text-main">Area</div>
        <div class="title-text-sub">家庭教師指導可能地域</div>
      </div>
      <hr>
      <p>
        大阪府全域を中心に、近畿圏の幅広い地域で家庭教師指導に対応しています。<br>
        主な地域として、大阪府全域・奈良県・京都府・滋賀県・兵庫県・和歌山県です。<br>
        注 <span class="gothic">）</span> エリアや条件によっては対応可能な場合もございますので、詳細はお気軽にご相談ください。
      </p>
    </section>

    <!-- 問い合わせ -->
    <section class="contact">
      <p>ご相談はお気軽にお問い合わせください。</p>
      <a href="/contact/" class="contact-button">お問い合わせ</a>
      <p><span class="gothic">TEL: 080-2404-3554</span></p>
      <p><span class="gothic">e-mail: pro-koshi-juku@gmail.com</span></p>
      公式<span class="gothic">LINE: </span><a href="http:/lin.ee/AjSeZ3Z" class="line-url">LINE</a>
    </section>

    <!-- フッター -->
    <footer class="footer">
      <p>© プロ講師指導塾</p>
    </footer>
    <script src="/scripts/main.js" defer></script>
	</body>
</html>